body{
    background-color: #99E1D9;
    display:flex;
    flex-direction:column;
}

h1{
    max-width: 800px;
    color:#3626A7;
    border-bottom:1px solid #E3170A;
}

img{
    max-width: 300px;
    margin-left:2rem;
    border:1px solid #E3170A;
}

h2{
    max-width: 800px;
    color:#3626A7;
    border-bottom:1px solid #E3170A;
}

p{
    max-width:700px;
    margin-left: 2rem;
    margin-right: auto;
}

h3{
    max-width:fit-content;
    color:#540D6E;
    margin-left: 2rem;
    border-bottom:1px solid #3626A7;
}

section>a{
    margin-left:4rem;
}

a{
    margin-left:2rem;
}