body{
    background-color: #99E1D9;
    display:flex;
    flex-direction:column;
}

h1{
    max-width: 800px;
    color:#3626A7;
    border-bottom:1px solid #E3170A;
}

img{
    max-width: 300px;
    margin-left:2rem;
    border:1px solid #E3170A;
}

#projects{
    max-width: 800px;
    color:#3626A7;
    border-bottom:1px solid #E3170A;
}

#repo{
    max-width: 800px;
    color:#3626A7;
    border-bottom:1px solid #E3170A;
}

p.bio{
    max-width:700px;
    margin-left: 2rem;
    margin-right: auto;
}

h3{
    max-width:fit-content;
    color:#540D6E;
    margin-left: 2rem;
    border-bottom:1px solid #3626A7;
}

a.link{
    margin-left:4rem;
}

a{
    margin-left:2rem;
    max-width:fit-content;
}

a:link{
    color:#E3170A;
}

a:visited{
    color:#E89005;
}

a:focus{
    color:#E3170A;
    background-color: #E89005;
}

a:hover{
    color:#E3170A;
    background-color: #E89005;
}

a:active{
    color:coral;
    background-color: #E89005;
}