/*fonts*/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Teko:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

/*Making things the fonts I want*/
h1{
    font-family: "Teko";
    font-size:xx-large;
}

h2{
    font-family: "Teko";
}

p{
    font-family: 'Oswald', sans-serif;
}

/*This is all of the header things*/
header{
    display:flex;
    flex-direction: row;
    background-color: #6FA3EB;
    position:fixed;
    top:0px;
    width:100%;
}

header a{
    display:block;
    text-decoration: none;
    padding:1rem;
    width:33%;
    text-align:center;
    color: #6449AF;
    font-family: "Teko";
    font-size:larger;
}

header a:hover{
    background-color:#1857AE;
    color: white;
}

/*This is all of the body things*/
body{
    display:flex;
    flex-direction: column;
    background-color: #B3F2DD;
    margin:0px;
}

/*This is the about section*/
#about{
    display:flex;
    flex-flow:row nowrap;
    word-wrap: normal;
    border-style:none none solid none;
    border-color: #9E8CCF;
    margin-left:10%;
    margin-right:10%;
    margin-top:50px;
    align-items: center;
    padding:1rem;
}

#about img{
    max-width:25vw;
    margin-left:auto;
    margin-right:auto;
}

#about .text{
    text-align:left;
    flex-flow: column nowrap;
    text-align: center;
    width:40vw;
}

@media screen and (max-width:850px){
    #about{
        flex-flow:column;
        margin-left:5%;
        margin-right:5%;
        align-items: center;
        padding:1rem;
    }

    #about img{
        max-width:50vw;
    }

    #about .text{
        width:80vw;
    }
}

/*This is the works gallery section*/
#gallery{
    display:flex;
    flex-flow:row wrap;
    align-items: center;
    margin-left:10%;
    margin-right:10%;
    text-align: center;
}

#gallery h1{
    width:100%;
}

#gallery div{
    display:flex;
    flex-direction: column;
    align-items: center;
    border-style:none;
    width:50%;
    max-height:35vw;
    margin-bottom:1rem;
    border-color: #9E8CCF;
}

#gallery img{
    max-width:30vw;
}

#gallery p{
    max-width:33vw;
}

@media screen and (max-width:850px)
{
    #gallery{
        display:flex;
        flex-flow:column;
        align-items: center;
        margin-left:5%;
        margin-right:5%;
    }

    #gallery div{
        border-style:none none solid none;
        width:100%;
        margin-bottom:1rem;
        border-color: #9E8CCF;
        height:fit-content;
    }

    #gallery img{
        max-width: 70vw;
    }

    #gallery p{
        max-width: 70vw;
    }
}

/*This is the footer with the contact info*/
footer{
    display:flex;
    flex-direction: column;
    background-color: #6FA3EB;
    height:fit-content;
    padding:1rem;
    align-items: center;
    text-align: center;
    bottom:0px;
}

footer img{
    width: 50px;
}

footer img:hover{
    background-color: #1857AE;
}